a {
	@include hello;
	@extend .something;
	@include hello {
		display: block;
	}
}

a {
	@include media('palm') {
		display: block;
	}
	@include media('desk');
}

a {
	@include media('palm') {
		display: block;
	}
	@mixin media('palm') {
		color: red;
	}
}

a {
	@include hello {
		display: block;
	}
	@include hello;
	@mixin hiya {
		display: none;
	}
	@extend .something;
	@include media('desk');
	@include media('palm') {
		display: block;
	}
}

a {
	@include hello {
		display: block;
	}
	@include hello;
	@extend .something;
	@mixin hiya {
		display: none;
	}
}

a {
	@extend .something;
	@include hello {
		display: block;
	}
	@include hello;
	@mixin hiya {
		display: none;
	}
}
