div {
	border-bottom: 1px solid red; /* trololo 1 */ /* trololo 2 */ /* trololo 3 */ /* trololo 4 */
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
}
div {
	border-bottom: 1px solid red; /* trololo 1 */ /* trololo 2 */ /* trololo 3 */ /* trololo 4 */
	display: none;
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
}
div {
	border-bottom: 1px solid red; /* trololo 1 */ /* trololo 2 */ /* trololo 3 */ /* trololo 4 */
	display: none;
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
	position: absolute;
}
div {
	border-bottom: 1px solid red; /* trololo 1 */ /* trololo 2 */ /* trololo 3 */ /* trololo 4 */
	display: none;
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
	position: absolute;
	top: 0;
}

div {
	border-bottom: 1px solid red; /* trololo 1 */
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
}
div {
	border-bottom: 1px solid red; /* trololo 1 */
	display: none;
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
}
div {
	border-bottom: 1px solid red; /* trololo 1 */
	display: none;
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
	position: absolute;
}
div {
	border-bottom: 1px solid red; /* trololo 1 */
	display: none;
	/* upline comment 1 */
	/* upline comment 2 */
	/* upline comment 3 */
	/* upline comment 4 */
	font-style: italic;
	position: absolute;
	top: 0;
}
div {
	/* inline before 1 */
	/* inline before 2 */
	/* inline before 3 */
	/* inline before 4 */
	display: inline-block; /* inline next 1 */ /* inline next 2 */ /* inline next 3 */ /* inline next 4 */
	/* block before 1 */
	/* block before 2 */
	/* block before 3 */
	/* block before 4 */
	display: block; /* block next 1 */ /* block next 2 */ /* block next 3 */ /* block next 4 */
}
