a {
	position: absolute;
	top: 0;
	display: block;
	z-index: 2;
}
a {
	position: absolute;
	top: 0;

	display: block;
	z-index: 2;
}
a {
	position: absolute;
	top: 0;


	display: block;
	z-index: 2;
}
a {
	position: absolute;
	top: 0; /* comment */
	display: block;
	z-index: 2;
}
a {
	position: absolute;
	top: 0;

	/* comment */

	display: block;
	z-index: 2;
}
a {
	position: absolute;
	top: 0;

	/* comment */
	display: block;
	z-index: 2;
}
