.block {
    @mixin clearfix;
    @mixin block;

    @custom-media --small-viewport (max-width: 30em);

    @some-rule {
        display: none;
    }

    display: block;
    margin-left: 0;
    margin-right: 10px;
    color: red;
}
