.block {
    display: block;
    @some-rule {
        display: none;
    }
    margin-left: 0;
    @mixin clearfix;
    margin-right: 10px;
    @custom-media --small-viewport (max-width: 30em);
    color: red;
    @mixin block;
}
