div {
    border-bottom: 1px solid red; // trololo 1 // trololo 2 // trololo 3 // trololo 4
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;
}
div {
    border-bottom: 1px solid red; // trololo 1 // trololo 2 // trololo 3 // trololo 4
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;

    display: none;
}
div {
    border-bottom: 1px solid red; // trololo 1 // trololo 2 // trololo 3 // trololo 4
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;

    display: none;
    position: absolute;
}
div {
    border-bottom: 1px solid red; // trololo 1 // trololo 2 // trololo 3 // trololo 4
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;

    display: none;
    position: absolute;
    top: 0;
}

div {
    border-bottom: 1px solid red; // trololo 1
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;
}
div {
    border-bottom: 1px solid red; // trololo 1
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;

    display: none;
}
div {
    border-bottom: 1px solid red; // trololo 1
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;

    display: none;
    position: absolute;
}
div {
    border-bottom: 1px solid red; // trololo 1
    // upline comment 1
    // upline comment 2
    // upline comment 3
    // upline comment 4
    font-style: italic;

    display: none;
    position: absolute;
    top: 0;
}
