div {
    display: inline-block;
    position: absolute;

    top: 10px;
    left: 20px;

    font-size: 1.2em;
}

div {
    display: inline-block;
    position: absolute;
    font-size: 1.2em;

    span {
        display: inline-block;
        position: absolute;

        top: 10px;
        left: 20px;

        font-size: 1.2em;
    }
}
