div {
    position: absolute;
    top: 10px;
    left: 20px;
    display: inline-block;
    font-size: 1.2em;
}

div {
    display: inline-block; /* comment */


    span {
        position: absolute;
        top: 10px;



        left: 20px;


        display: inline-block;


        font-size: 1.2em;
    }

    font-size: 1.2em;
    position: absolute;
}

div {
    position: absolute;
    top: 10px;
    display: inline-block;
    font-size: 1.2em;
}

div {

    /* position property double block comment */
    /* position property double block comment */
    position: absolute;
    top: 10px;
    /* display property block comment */
    display: inline-block;

    font-size: 1.2em;
}
