/* postcss-sorting: off */
.block1 {
	width: 50px;
	display: inline-block;
}
/* postcss-sorting: on */

.block2 {
	display: inline-block;
	width: 40px;
}

/* postcss-sorting: off */
.block3 {
	width: 20px;
	display: inline-block;

	/* postcss-sorting: on */
	.block3-1 {
		width: 70px;
		display: block;
	}
	/* postcss-sorting: off */
}
/* postcss-sorting: on */

.block5 {
	/* postcss-sorting: on */
	display: inline-block;
	width: 20px;

	/* postcss-sorting: off */
	.block3-1 {
		display: block;
		width: 70px;
	}
}

.block4 {
	display: inline-block;
	width: 30px;
}

/* postcss-sorting: off */
.block6 {
	width: 30px;
	display: inline-block;
}
