.platform-organize-media {
    $size: 20px;

    display: inline-block;
    width: 80px;
    border: 2px solid #fff;
    font-size: 12px;

    &__items {
        margin-bottom: 24px;
    }
    &__item {
    }
    &__nav-item {
        display: inline-block;
        width: 80px;
        border: 2px solid #fff;
        font-size: 12px;
        line-height: 26px;
        cursor: pointer;
        transition: background .15s;

        &:hover {
            background: rgba(255, 255, 255, .2);
        }
    }
}
