.platform-organize-media {
	&__items {
		margin-bottom: 24px;
	}
	width: 80px;
	font-size: 12px;
	$size: 20px;
	display: inline-block;
	border: 2px solid #fff;
	&__item {
	}
	&__nav-item {
		width: 80px;
		display: inline-block;
		border: 2px solid #fff;
		font-size: 12px;
		&:hover {
			background: rgba(255, 255, 255, .2);
		}
		line-height: 26px;
		transition: background .15s;
		cursor: pointer;
	}
}
